/css/backend.css
/css/materialize.min.css
/js/choicePdts_sauv.js
/js/contrat_nv.js
/js/contrat.js
/js/fetchContratavalider.js
/js/fetchContratSave.js
/js/materialize.min.js
/json/*
/php/ajoutContrat.php
/php/savecontratmodif.php