<!DOCTYPE html>

<title>Edit Categorie</title>
<style>
    input, textarea {
        margin: 0 0 25px;
        width: 300px;
    }
    label {
        text-align: start;
        display: inline-block;
        width: 300px;
    }
</style>

{% block body %}
    <h1>Edit Categorie</h1>

    {{ include('frontend/categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categorie_index') }}">back to list</a>

    {{ include('frontend/categorie/_delete_form.html.twig') }}
{% endblock %}
